/// Define common text
/////////////////////////////
///
// Example
.tw-et-example {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700 !important;
  font-size: pxToRem(16) !important;
  line-height: pxToRem(24) !important;
  letter-spacing: -0.012em !important;
}

-tw-et-maintain {
  color: burlywood;
}
